Source: tpm2-tools
Section: utils
Priority: optional
Maintainer: Mathieu Trudel-Lapierre <mathieu.trudel-lapierre@canonical.com>
Build-Depends: debhelper (>= 9), dh-autoreconf, libtss2-dev
Homepage: https://github.com/01org/tpm2.0-tools
Standards-Version: 3.9.7

Package: tpm2-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
Description: TPM 2.0 utilities
 This package contains a set of tools to use with TPM 2.0 chips,
 for common tasks and features provided by the hardware; such as
 for doing basic key management, attestation, encryption and signing.

